/* Events List */

.hero {
	background-color: grey;
	text-align: center;
}

#tagline {
	font: {
		family: $font-heading;
		@include fntz(2);
		weight: 400;
	}
	padding-top: 2rem;
}

#tagline-sub {
	font: {
		style: italic;
		weight: 400;
	}
	padding-bottom: 2rem;
}

