/* Global Styles */

body {
	color: $color-contrast;
	font: {
		family: $font-main;
	}
}

p {
	line-height: 1.6em;
}

a {
	text-decoration: none;
}

@include selection {
  background-color: $color-neutral-dark;
  color: $color-contrast;
}

#mapsPage,
#landingPage {
	display: none;
}

.wrapper {
	background-color: $color-neutral-dark;
}

