/* Global Styles */

body {
	color: $color-text;
	font: {
		family: $font-main;
	}
}

p {
	line-height: 1.6em;
}

a {
	text-decoration: none;
}

@include selection {
  background-color: black;
  color: white;
}

