/* Header */

header {
	background-color: $color-primary;
	height: 3rem;
	overflow: hidden;
}

.logo {
	float: left;
	margin-left: 1rem;

	p {
		color: $color-contrast;
		font: {
			family: $font-heading;
			@include fntz(1.75);
			weight: 700;
		}
	}

}

.menu-link {
	float: right;
	margin: 0.5rem 1rem 0 0;

	a {
		color: $color-contrast;
		font: {
			weight: 500;
		}
		text-transform: uppercase;
	}

}

.nav-sm {
	background-color: $color-secondary;
	display: none;

	ul {
		padding: 1rem 0;
		text-align: center;

		li {
			display: inline;
			padding: 1.25rem;

			a {
				color: $color-contrast;
				text-transform: uppercase;
			}

		}

	}

}

.nav-lg {
	display: none;
}

