/* Headings */

h1 {
	font: {
		family: $font-heading;
		@include fntz(2);
		weight: 700;
	}
	padding: 1rem 0 0 2rem;
}

h2 {
	color: $color-neutral-dark;
	font: {
		@include fntz(1.25);
		weight: 500;
	}
	padding: 1rem 0 0 2rem;
}

