/* Headings */

h1 {
	font: {
		family: $font-heading;
		@include fntz(2);
		weight: 700;
	}
	text-transform: lowercase;
}

h2 {
	font: {
		@include fntz(1.25);
		weight: 500;
	}
	padding-top: 1rem;
}

