/* Media Queries */

@media screen and (min-width: 600px) {

	.menu-link {
		display: none;
	}

	.nav-lg {
		display: inline;
		float: right;

		ul {
			padding: 1rem 0;
			text-align: center;

			li {
				display: inline;
				padding: 1.25rem;

				a {
					color: $color-contrast;
					text-transform: uppercase;
				}

			}

		}

	}

	.hero {
		padding: 6rem;
	}

	#tagline {
		font: {
			@include fntz(2.25);
		}
	}

	#tagline-sub {
		font: {
			@include fntz(1.15);
		}
	}

	.event {

		.toggle {
			display: none;
		}

		.event-photo {
			float: left;
			width: 12rem;
		}

		.event-info {
			float: left;
			width: 25%;
		}

		.more-info {
			display: block;
			padding: 0 0 2rem 12rem;
		}

		&:nth-child(odd) {

			.event-photo {
				float: left;
			}

			.event-info {
				float: left;
				width: 25%;
			}

		}

	}

	.preferences-link {
		display: none;
	}

	.preferences {
		display: inline-block;
		float: right;
		text-align: left;
		width: 25%;

		.preferences-title {
			color: $color-neutral-dark;
			display: block;
			font: {
				weight: 500;
			}
			padding: 0 0 0.5rem 1rem;
			text-transform: uppercase;
		}

		ul li {
			display: block;
		}

	}

	.filter-link {
		display: none;
	}

	.filter {
		display: inline-block;
		position: absolute;
		left: 0;
		top: 3rem;
		text-align: left;
		width: 25%;

		.filter-title {
			color: $color-neutral-dark;
			display: block;
			font: {
				weight: 500;
			}
			padding: 0 0 0.5rem 1rem;
			text-transform: uppercase;
		}

		ul {
			width: 100%;
		}

		.event-type {
			padding-left: 1rem;
		}

	}

	.user {
		padding: 2.75rem 2rem;

		.user-photo {
			height: 6rem;
			margin-left: 12%;
			width: 6rem;
		}

		.user-info {
			margin-left: 1rem;

			#user-id {
				font: {
					@include fntz(2);
				}
				line-height: 1em;
				max-width: 10rem;
			}

			#user-sub {
				font: {
					style: italic;
				}
				padding-top: 0.5rem;
			}

		}

	}

	.add-event {
		margin-right: 12.5%;
		padding-right: 0;
		text-align: right;
	}

	.following,
	.mapEvent {
		margin: 0 auto;
		width: 75%;
	}

	#map {
		height: 31.25rem;
	}

}


@media screen and (min-width: 960px) {

	.event {
		margin: 0 auto;
		width: 70%;

		.event-info {
			width: 35%;
		}

		.more-info {
			clear: none;
			display: initial;
			float: left;
			padding: 4rem 0 2rem 0;
			width: 35%;
		}

		&:nth-child(odd) {

			.event-info {
				width: 35%;
			}

			.more-info {
				width: 35%;
			}

		}

	}

	.preferences {
		width: 20%;
	}

	.user {

		.user-photo {
			margin-left: 25%;
		}

	}

	.add-event {
		margin-right: 20%;
	}

	.following,
	.mapEvent {
		width: 60%;
	}

	.toggle {
		display: none;
	}

	.more-info {
		display: block;
	}

}

