/* Variables */

// Colors

$color-primary: #FF802F;
$color-secondary: #B25010;
$color-neutral-light: #DDDDDD;
$color-neutral-dark: #444444;
$color-accent: #00ACB2;
$color-text: #444444;
$color-contrast: #FFFFFF;


// Typography

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,300,300italic,400italic,500);

$font-main: "Roboto", sans-serif;
$font-heading: "Roboto Slab", serif;

